<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include("./partials/head.ejs") %>

  <body>
    <!-- NAVBAR -->
    <%- include("./partials/general-navbar") %>

    <!-- SIDEBAR -->
    <%- include ("./partials/sidebar.ejs") %>

    <!-- Edit category -->
    <section class="create-news-container">
      <h3>Edit category</h3>
      <% if(category) { %>
      <form
        action="/api/categories/edit/<%=category.categoryid  %> "
        method="post"
      >
        <div class="form-group">
          <input
            type="text"
            name="title"
            class="form-control"
            value="<%=category.title  %> "
            required
          />
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="publish-btn" />
        </div>
      </form>
      <% } %>
    </section>

    <!-- FOOTER -->
    <footer class="footer">&copy; Reality news App</footer>
    <!-- SCRIPTS -->
    <%- include("./partials/script.ejs") %>

    <script>
      window.addEventListener("load", function () {});
    </script>
  </body>
</html>
